@import '../../../../colors.scss';

.PolygonManChart {
	.legend {

		.legendItem{
			stroke: #afaaae;
			stroke-width: 270px;

			&.active{
				stroke: #0e0e0e;
			}
		}

		text{
		    font-size: 1500px;
		}
	}

	.front,
	.back{
		path{
			cursor: pointer;
		}
	}


	[data-readOnly="true"] {
		.front,
		.back{
			path{
				cursor: default;
			}
		}
	}

}
