@import '../../../colors.scss';

.checkbox-table{
	
	.head-cell-id,
	.cell-id{
		background: red;
		display: none;
	}

	.MuiCheckbox-root.MuiCheckbox-colorPrimary{
		//background: red;
		padding: 6px;

		&:hover{
            background-color: rgba(1,1,2,0.08);
        }
	}


    .MuiCheckbox-colorPrimary.Mui-checked{
    	color: $orange;

        &:hover{
            background-color: rgba(1,1,2,0.3);
        }
    }

	.MuiTableRow-root.Mui-selected, 
	.MuiTableRow-root.Mui-selected:hover{
		background-color: $turquoise;
	}

	.emptyrecords{
		text-align: center;
	}
}